{
  "SaveName": "青空key的世界",
  "WorldName": "341349",
  "GameModeIdx": 0,
  "GameVersion": 1014003,
  "IsHost": true,
  "HostID": 528050717,
  "GameType": 9,
  "LanGameStartServerTime": 1636554887,
  "RoomName": "青空key的世界",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1637372009,
  "TotalPlayTime": 333551,
  "UpdateTime": 1637372091,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\norxus@163.com\\LanGameHost\\青空key的世界",
  "GUID": "LanGame-f201f6fd-b218-47e6-a9e3-ff57fc423171",
  "WorldId": null,
  "RecentRoleID": "4651376900102684853",
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "aht": false,
      "Name": "青空key",
      "CreatedTimeStamp": 1636534312,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": [],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}